/** Shopify CDN: Minification failed

Line 11:16 Expected ")" to end URL token
Line 15:16 Expected ")" to end URL token
Line 19:16 Expected ")" to end URL token

**/
/* Use this file to add custom css to the theme. */
@font-face {
    font-family: "AnoBlack-Regular";
    src: url({{ "AnoBlack-Regular.woff2" | asset_url }}) format("woff2");
}
@font-face {
    font-family: "AnoBold-Regular";
    src: url({{ "AnoBold-Regular.woff2" | asset_url }}) format("woff2");
}
@font-face {
    font-family: "AnoRegular-Regular";
    src: url({{ "AnoRegular-Regular.woff2" | asset_url }}) format("woff2");
}